version: '3.9'

services:
  dockertest:
    image: 877051057310.dkr.ecr.us-east-2.amazonaws.com/dockertest:latest
    ports:
      - "8080:8080"
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db 
    volumes:
      - db_data:/code
  db:
    image: nouchka/sqlite3:latest
    environment:
      - SQLITE3_DB=db.sqlite3
    volumes:
      - db_data:/root/db
volumes:
  db_data: